* {
  box-sizing: border-box;
}

body {
  border: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(233, 225, 178);
  height: 100px;
  background-color: rgb(67 40 29);
}

.brand-name {
  font-size: 20px;
}

.brand-logo {
  height: 50px;
  width: 50px;
}

.main {
  display: grid;
  grid-template-areas: "items name" "items payment";
  margin: 50px 30px 50px 30px;
  column-gap: 50px;
  row-gap: 25px;
}

.items {
  grid-area: items;
  background-color: rgb(238 225 214);
  border-radius: 5px;
  filter: drop-shadow(5px 5px 5px #c4c4c4);
}

.name {
  grid-area: name;
  background-color: rgb(238 225 214);
  border-radius: 5px;
  filter: drop-shadow(5px 5px 5px #c4c4c4);
}

.payment {
  grid-area: payment;
  background-color: rgb(238 225 214);
  border-radius: 5px;
  filter: drop-shadow(5px 5px 5px #c4c4c4);
}

.section-title {
  text-transform: uppercase;
  color: rgb(128 78 31);
  font-weight: 200;
  margin: 10px 0px 10px 10px;
}

.item {
  display: grid;
  grid-template-columns: 0.5fr 1fr 5fr;
}
