* {
  box-sizing: border-box;
}

body {
  border: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(233, 225, 178);
  height: 100px;
  background-color: rgb(67 40 29);
}

.brand-name {
  font-size: 20px;
}

.brand-logo {
  height: 50px;
  width: 50px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "items name" "items payment";
  margin: 50px 40px 50px 40px;
  column-gap: 70px;
  row-gap: 40px;
}

.items {
  grid-area: items;
  background-color: rgb(238 225 214);
  border-radius: 5px;
  filter: drop-shadow(5px 5px 5px #c4c4c4);
}

.name {
  grid-area: name;
  background-color: rgb(238 225 214);
  border-radius: 5px;
  filter: drop-shadow(5px 5px 5px #c4c4c4);
}

.payment {
  grid-area: payment;
  background-color: rgb(238 225 214);
  border-radius: 5px;
  filter: drop-shadow(5px 5px 5px #c4c4c4);
}

.section-title {
  text-transform: uppercase;
  color: rgb(128 78 31);
  font-size: 18px;
  font-weight: 200;
  margin: 10px 0px 0px 20px;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 10px 0px 10px;
  border-bottom: 1px solid rgb(222 185 148);
  padding-bottom: 20px;
}

.item:last-child {
  border-bottom: none;
}

.item-price {
  text-align: end;
  margin-right: 40px;
  font-weight: bold;
}

.amount-name {
  display: flex;
  margin-left: 10px;
}

.item-name {
  margin-left: 10px;
  font-weight: bold;
}

.item-extras {
  margin: 5px 0px 0px 38px;
  color: #a27e5e;
}

.name {
  display: flex;
  flex-direction: column;
}

.payment {
  display: flex;
  flex-direction: column;
}

.input-and-label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-label {
  position: absolute;
  font-size: 15px;
  padding: 5px;
  left: 50px;
  top: 6px;
  color: rgb(128 78 31);
  background-color: rgb(238 225 214);
}
.checkout-input {
  border-radius: 100px;
  height: 50px;
  margin: 20px;
  border: 2px solid #a27e5e;
  background-color: rgb(238 225 214);
  font-size: 17px;
  padding: 0px 30px 0px 30px;
}

.total-amount {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.text {
  margin-right: 100px;
}

.price {
  margin-left: 120px;
}

.total-price {
  margin-bottom: 20px;
}

.total-text {
  margin-bottom: 20px;
}

.bolded {
  font-weight: bold;
}

.place-order {
  display: flex;
  justify-content: center;
  padding: 0px 80px 0px 80px;
}

.order-button {
  border: none;
  border-radius: 100px;
  background-color: rgb(222 185 148);
  font-size: 18px;
  width: 100%;
  height: 50px;
}
